{% load static %}
<!DOCTYPE html>
<html lang="es">
<meta name="viewport" content="width=device-width, initial-scale=1">


<head>
    <title>{% block title %}OUT-IN | Cámaras de Seguridad e Instalación Profesional{% endblock %}</title>
<meta name="description" content="{% block meta_description %}
Instalación profesional de cámaras de seguridad, venta de equipos CCTV y soluciones de vigilancia para hogares y empresas.
{% endblock %}">

<meta property="og:title" content="{% block og_title %}OUT-IN | Seguridad Inteligente{% endblock %}">
<meta property="og:description" content="{% block og_description %}
Instalación y venta de cámaras de seguridad con asesoría profesional.
{% endblock %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:image" content="{% block og_image %}https://outin.onrender.com/static/img/og-default.jpg{% endblock %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <meta charset="UTF-8">
    <title>{% block title %}OUT - IN Seguridad{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS propio -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">OUT - IN</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'catalogo' %}">Catálogo</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>

<main class="container my-5">
    {% block content %}{% endblock %}
</main>

<footer class="bg-dark text-white text-center p-3">
    <p class="mb-0">© 2026 OUT - IN | Seguridad Inteligente</p>
</footer>
<a href="https://wa.me/56997980146"
   class="whatsapp-float"
   target="_blank">
    <i class="bi bi-whatsapp"></i>
</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
