.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    text-decoration: none;
}

@media (min-width: 768px) {
    .text-justify {
        text-align: justify;
    }
}